<!DOCTYPE html>
<html>
<head>
    <title>NiftyWrite - a tool to manage large writing projects</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w2ui.css', v='180203a') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', v='180203') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='w2ui-1.5.rc1.min.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
    <div id="main_layout">
   </div>
</body>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='main.js', v='180203b') }}"></script>
<script>
  $(document).ready(function () {
    init_about();
  });
</script>
</html>
