<!DOCTYPE html>
<html>
<head>
    <title>Nwrite - a tool to manage large writing projects</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w2ui.css', v='180224') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', v='180224') }}" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='w2ui-1.5.rc1.min.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
    <div id="main_layout"></div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.9/marked.min.js"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='moment.min.js', v='180411') }}"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='main.js', v='180411') }}"></script>
<script>
  $(document).ready(function () {
    init();
  });
</script>
</html>
